@{
    ViewData["Title"] = "Games";
}
<!--
Modified By:    Quinn Helm
Date:           26-09-2021
-->
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>This is where information about our completed products will go.</p>
    <h1>Upcoming Games</h1>
    <!-- logo goes here -->
    <h3>Project SB:Alpha</h3>
    <p>This is a working title for our low poly, roguelike tactics game.</p>
    <p>Set in a fantasy universe, this game follows our protagonist as they seek to track down their prior captor.</p>
    <!-- character art goes here -->
    <p>Interested in creating an item build? <a class="text-dark" asp-area="" asp-controller="Games" asp-action="Builds">Try It Out!</a></p>
</div>