@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="mx-auto p-2 text-center">@ViewData["Title"]</h1>
    <!-- logo goes here -->
    <p>Founded by Kara Quinn Helm in 2020, this independent games studio based out of southern Ontario, Canada</p>
    <p>aims to produce RPGs focused on tightly interconnected systems that are lore appropriate, in a variety of subgenres.</p>
    <p>Inspired by franchises such as Warhammer Fantasy by Games Workshop, Touhou by Team Shanghai Alice, and Diablo by Blizzard,</p>
    <p>the goal of Wolf's Bite Studio is to produce a series of games based on one consistent universe.</p>
    <!-- a small collage of product-related images goes here -->
        <!-- game sketch goes here -->
        <!-- game sketch goes here -->
        <!-- game sketch goes here -->
        <!-- game sketch goes here -->
    <p>Interested in finding out more about our games? <a class="text-info" asp-controller="Games" asp-action="Index">Find Out More!</a></p>
</div>