@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- logo goes here -->
    <p>Wolf's Bite Studio is an up and coming game development studio based out of Ontario, Canada.</p>
    <p>For more information about our upcoming game, <a class="text-info" asp-controller="Games" asp-action="Index">check out Games</a>.</p>
    <p>Or <a class="text-info" asp-controller="Games" asp-action="Chat">join our chatroom here!</a></p>
    <p>Find out more <a class="text-info" asp-controller="Home" asp-action="About">About Us</a>.</p>
</div>