@page
<div>
    <partial name="~/Views/Shared/_ModerationNavigation.cshtml" />
    <div class="container mh-100" style="height: 75vh; border:2px solid black;">
        <div class="row"><p>content goes here...</p></div>
    </div>
</div>