@model WBSAlpha.Controllers.ModerationController.ChatInput
@{
    ViewData["Title"] = "Manage Chatrooms";
    List<Chatroom> chats = (List<Chatroom>)ViewData["Chatrooms"];
}

<h1 class="mx-auto p-2 text-center">@ViewData["Title"]</h1>

<partial name="~/Views/Shared/_ModerationNavigation.cshtml" />
<div class="row">
    <form asp-controller="Moderation" asp-action="AddChatroom" method="post" class="mx-auto form-inline mb-2">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Name" class="mr-1"></label>
        <input asp-for="Name" class="form-control mr-3" />
        <label asp-for="Description" class="mr-1"></label>
        <input asp-for="Description" class="form-control mr-3" />
        <button type="submit" class="btn btn-outline-dark">Add Chatroom</button>
    </form>
</div>
<div class="container mh-100" style="height: 65vh; border: 2px solid black; overflow-y: scroll;">
    <div class="row">
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th class="mx-auto text-center">Chatroom Name</th>
                    <th class="mx-auto text-center">Description</th>
                    <th class="mx-auto text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Chatroom chat in chats)
                {
                    <tr>
                        <td class="mx-auto text-center">@chat.ChatName</td>
                        <td class="mx-auto text-center">@chat.Description</td>
                        <td class="mx-auto text-center">
                            <a class="btn btn-danger" asp-controller="Moderation" asp-action="DeleteChatroom" asp-route-id="@chat.ChatID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>