<div class="container">
    <div class="row">
        <ul class="btn-toolbar list-group-horizontal text-center mx-auto" style="list-style: none;">
            <li class="mx-3"><a class="btn btn-outline-info" asp-controller="Moderation" asp-action="Metrics">Metrics</a></li>
            <li class="mx-3"><a class="btn btn-outline-danger" asp-controller="Moderation" asp-action="Reports">Moderation</a></li>
            <li class="mx-3"><a class="btn btn-outline-info" asp-controller="Moderation" asp-action="ChatHistory">Chat History</a></li>
            @if (User.IsInRole("Administrator"))
            {
                // it makes the most sense to have these be grouped by role instead of what is in the diagrams
                <li class="mx-3"><a class="btn btn-danger" asp-controller="Moderation" asp-action="ManageBans">Bans</a></li>
                <li class="mx-3"><a class="btn btn-warning" asp-controller="Moderation" asp-action="ManageModerators">Manage Moderators</a></li>
                <li class="mx-3"><a class="btn btn-info" asp-controller="Moderation" asp-action="ManageChatrooms">Chatrooms</a></li>
                <li class="mx-3"><a class="btn btn-secondary" asp-controller="Games" asp-action="FindAllBuilds">Builds</a></li>
            }
        </ul>
    </div>
</div>